<div class="p-3">
<h1>BMP Inspections</h1>

    <table class="table table-secondary table-hover table-striped table-bordered mt-3">
        <thead>

            {{!-- Inspection data fields (columns/attributes) --}}
            <tr class="align-top">
                <th>Inspection ID</th>
                <th>BMP ID</th>
                <th>Date</th>
                <th>Inspector</th>
                <th>Embankment</th>
                <th>Erosion</th>
                <th>Sediment</th>
                <th>Ponding</th>
                <th>Vegetation</th>
                <th>Control Structure</th>
                <th>Trash</th>
                <th>Overall Function</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {{#each inspections}}
            <tr>
                <td>{{this.bmpInspectionID}}</td>
                <td>{{this.bmpID}}</td>
                <td>{{this.inspectionDate}}</td>
                <td>{{this.name}}</td>
                <td>{{this.inspectEmbankment}}</td>
                <td>{{this.inspectErosion}}</td>
                <td>{{this.inspectSediment}}</td>
                <td>{{this.inspectPonding}}</td>
                <td>{{this.inspectVegetation}}</td>
                <td>{{this.inspectControlStructure}}</td>
                <td>{{this.inspectTrash}}</td>
                <td>{{this.overallFunction}}</td>
                <td>{{this.comments}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Form allows for inserting new BMP inspections. --}}
<div class="container-md p-3 my-3 mx-auto border border-secondary">
    <h5>Add BMP Inspection</h5>
    <p>* = required field</p>
<<<<<<< HEAD
    <form id="insertInspections" action="/Inspections" method="post">
=======
    <form>
>>>>>>> ddea12564ed22ceeae70315fd316b6eb56afd2a8

        {{!-- Form input for BMP facility ID --}}
        <div class="row mb-3">
            <label for="inputBMPID" class="col-sm-2 col-form-label">BMP Facility ID *</label>
            <div class="col-sm-10">
<<<<<<< HEAD
                <input type="number" class="form-control" id="inputBMPID" name="bmpID">
=======
                <input type="number" class="form-control" id="inputBMPID">
>>>>>>> ddea12564ed22ceeae70315fd316b6eb56afd2a8
            </div>
        </div>

        {{!-- Form input for inspection date --}}
        <div class="row mb-3">
            <label for="inputInspectionDate" class="col-sm-2 col-form-label">Inspection Date *</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputInspectionDate" name="inspectionDate">
            </div>
        </div>

        {{!-- Form input for inspector ID --}}
        <div class="row mb-3">
            <label for="inputInspector" class="col-sm-2 col-form-label">Inspector ID</label>
            <div class="col-sm-10">
<<<<<<< HEAD
                <input type="number" class="form-control" id="inputInspector" name="inspectorID">
=======
                <input type="number" class="form-control" id="inputInspector">
>>>>>>> ddea12564ed22ceeae70315fd316b6eb56afd2a8
            </div>
        </div>

        {{!-- Form input for embankment rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectEmbankment" class="col-sm-2 col-form-label">Embankment Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectEmbankment" name="inspectEmbankment">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for erosion rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectErosion" class="col-sm-2 col-form-label">Erosion Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectErosion" name="inspectErosion">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for sediment rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectSediment" class="col-sm-2 col-form-label">Sediment Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectSediment" name="inspectSediment">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for ponding rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectPonding" class="col-sm-2 col-form-label">Ponding Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectPonding" name="inspectPonding">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for vegetation rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectVegetation" class="col-sm-2 col-form-label">Vegetation Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectVegetation" name="inspectVegetation">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for control structure rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectControlStructure" class="col-sm-2 col-form-label">Control Structure
                Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectControlStructure" name="inspectControlStructure">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for trash rating --}}
        <div class="row mb-3">
            <label for="inlineFormSelectTrash" class="col-sm-2 col-form-label">Trash Rating *</label>
            <div class="col-sm-10">
                <select class="form-select" id="inlineFormSelectTrash" name="inspectTrash">
                    <option selected>Choose...</option>
                    <option value="0">0 - Not present at this facility</option>
                    <option value="1">1 - Major repairs or maintenance are required</option>
                    <option value="2">2 - Minor maintenance is needed</option>
                    <option value="3">3 - No maintenance necessary at this time</option>
                </select>
            </div>
        </div>

        {{!-- Form input for overall function --}}
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Overall Function *</legend>
            <div class="col-sm-10">
                <div class="form-check">
<<<<<<< HEAD
                    <input class="form-check-input" type="radio" name="overallFunction" id="overallFunctionYes"
=======
                    <input class="form-check-input" type="radio" name="radioOverallFunction" id="overallFunctionYes"
>>>>>>> ddea12564ed22ceeae70315fd316b6eb56afd2a8
                        value="1" checked>
                    <label class="form-check-label" for="overallFunctionYes">
                        Yes, the facility is functioning as intended.
                    </label>
                </div>
                <div class="form-check">
<<<<<<< HEAD
                    <input class="form-check-input" type="radio" name="overallFunction" id="overallFunctionNo"
=======
                    <input class="form-check-input" type="radio" name="radioOverallFunction" id="overallFunctionNo"
>>>>>>> ddea12564ed22ceeae70315fd316b6eb56afd2a8
                        value="0">
                    <label class="form-check-label" for="overallFunctionNo">
                        No, the facility is not functioning and requires corrective action.
                    </label>
                </div>
            </div>
        </fieldset>

        {{!-- Form input for comments --}}
        <div class="row mb-3">
            <label for="textareaComments" class="col-sm-2 col-form-label">Comments</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="textareaComments" name="comments"></textarea>
            </div>
        </div>

        {{!-- Form submit --}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>