<div class="p-3">
<h1>BMP Maintenance Records</h1>

    <table class="table table-secondary table-hover table-striped table-bordered mt-3">
        <thead>

            {{!-- Maintennce record data fields (columns/attributes) --}}
            <tr>
                <th>Maintenance ID</th>
                <th>BMP ID</th>
                <th>Maintenance Date</th>
                <th>Performed By</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each records}}
            <tr>
                <td>{{this.maintenanceID}}</td>
                <td>{{this.bmpID}}</td>
                <td>{{this.maintenanceDate}}</td>
                <td>{{this.performedBy}}</td>
                <td>{{this.description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Form allows for inserting new maintenance records. --}}
<div class="container-md p-3 my-3 mx-auto border border-secondary">
    <h5>Add Maintenance Record</h5>
    <p>* = required field</p>
    <form method="post" action="">

        {{!-- Form input for BMP ID --}}
        <div class="row mb-3">
            <label for="inputMaintenanceBMPID" class="col-sm-2 col-form-label">BMP ID *</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputMaintenanceBMPID" name="bmpId">
            </div>
        </div>

        {{!-- Form input for maintenance date --}}
        <div class="row mb-3">
            <label for="inputMaintenanceDate" class="col-sm-2 col-form-label">Maintenance Date *</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputMaintenanceDate" name="maintenanceDate">
            </div>
        </div>

        {{!-- Form input for party performing maintenance --}}
        <div class="row mb-3">
            <label for="inputMaintenancePerformedBy" class="col-sm-2 col-form-label">Performed By *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMaintenancePerformedBy" name="performedBy">
            </div>
        </div>

        {{!-- Form input for description of maintenance --}}
        <div class="row mb-3">
            <label for="inputMaintenanceDescription" class="col-sm-2 col-form-label">Description of Maintenance *</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputMaintenanceDescription" name="description"></textarea>
            </div>
        </div>

        {{!-- Form submit --}}
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>